
body {
    overflow-y: hidden;
	background-color: rgba(255, 208, 0, 0.733);
    text-align: center;
    position: relative;
    margin: 5px;
    padding: 15px 32px;
    max-width: 1200px;
              }

			  body2 {
				
			}
#menu01 {
	position: fixed;
	top: 0px;
	margin: 0px auto;
	width: 100%;
	z-index: 1;
	background-color: white;
}

#discografia {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
	background-color: black;
}

#discoGallery {
	position: absolute;
	top: 40px;
	right: 0px;
	left: 0px;
	margin: 0px auto;

	height: 80vh;
}

#material {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
	background-color: gray;
}

#links {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	border: 0.5px dotted white ;
	padding: 0px;
	padding-top: 40px;
	background-color: rgb(17, 17, 17);
	color: white;
	}

#logo01 {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
}

#menu01 nav {
	height: 30px;
	border-bottom: 10px solid blue;
}

#menu01 nav a {
	display: inline-block;
	margin: 0px auto;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

h1 {
	text-align: center;
}

footer {
	text-align: center;
}

.logoMain {
	display: block;
/*	position: relative;
	left: auto;
	right: auto;*/
	margin: 0px auto;
	padding: 0px;
	max-width: 500px;
}

.tapaDisc {
	position: relative;
	max-height: 400px;
}

.videos {
	position: relative;
	display: inline-block;
	margin: 40px auto;
	max-height: 400px;
}

.temon {
	width: 50%;
	position: relative;
	margin: 10px auto 10px auto;
}

.img-responsive  {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align:justify
    background-color: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
     }

	 .henny-penny-regular {
		font-family: "Henny Penny", serif;
		font-weight: 400;
		font-style: normal;
	  }
	
	.fondogris {
		text-align: center;
	  text-justify: distribute-all-lines;
	  background-color: rgb(17, 17, 17);
	  color: white;
	  padding: 15px;
	  border: 0.5px dotted white ;
	  margin: 5px;
		   }